<!DOCTYPE html>
<html lang="en">
  <!-- Doink! -- Lia, LTW, Liesel, Tomas
       SoftDev pd1
       P02 -- DOINK!
       2022-03-08
  -->
<head>
  <meta charset="utf-8">
  Login Page
</head>

<body>
  <form>
        <label for="username">Username</label><br>
        <input type="text" id="user"><br>
        <label for="password">Password</label><br>
        <input type="password" id="pass">
  </form>

  <button id="submit_Login"> Login </button>
  <br>
  <p id="message"></p>

  <br>

  Do you not have an account??
  <link href="/register"> Click here to register! </link>

  <script src="../static/js/login.js"></script>
  </body>
</html>
